
.cardOne{
  
  margin-right: 3rem;
  flex-direction: column;
  height:25rem;
  width: 18rem;
  }

  .date{
    position: absolute;
    width: 3rem;
    background-color: #77d7b9;
    color: #fff;
    padding: 0.8em;
    display: block;
    text-align: center;
  }
  .date :first-child{

    font-weight: 700;
    font-size: 24px;
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.18);
    
  }
  .date :nth-child(3){
    
 	  font-size: 12px;
    text-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
  }
  .date :nth-child(5){
  
    font-size: 12px;
    text-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
 }
 
  
  


.WhiteBox{
  
  cursor: pointer;
  transition: all 450ms ease-in-out ;
  margin-top: 15rem;
  background-color: #fff;
  height: 10rem;
  width: auto;
  overflow: hidden;

}
.author{
  padding-left: 0.5rem;
  font-size: 12px;
  margin-top: 15rem;
}
.boxingContent{
  padding: 0.5rem;
  font-family: sans-serif;
  font-size: x-large;
  color: rgb(124, 124, 124);
  font-weight: 100;

}
.cardOne:hover .WhiteBox{
  margin-top: 10rem;
  cursor: pointer;
   background-color: #fff;
   height: 15rem;
   width: auto;
}

 .BoxIndex{
  flex-direction: column;
  font-family: sans-serif;
  padding-left: 0.5rem;
  
 }


 .cardTwo{
  margin-left: 3rem;
  height:25rem;
  width: 18rem;

}
.transBox {
  display: flex;
  flex-direction: column;
  margin-top: 10.3rem;
  background-color: transparent;
  height: 12rem;
  flex-direction: column;
  font-family: sans-serif;
  padding-left: 0.5rem;
  cursor: pointer;
  transition: all 450ms ease-in-out ;


}


.cardTwo:hover .transBox{

  height: 15rem;
  margin-top: 7rem;



}
 .navbar{
  display:flex;
  background-color: transparent;
  margin: 0.5rem;
 
  

 }
 .navbar span{
  font-family: sans-serif;
  margin-top: 0.5rem;
   color: #fff;
    float: left;
  
  
}
.navbar .icons  {
   margin-left: 5.5rem;
   float: right;
  
}
.icons :first-child{

  cursor: pointer;

margin: 0.5rem;
}
.icons :nth-child(2){
  cursor: pointer;
  

  margin: 0.5rem;
  }
  .icons :last-child{
    margin: 0.5rem;
    cursor: pointer;
  }


  
  .authorSecond{
    display: block;
    padding: 1rem;
    height: 2rem;
    color: #fff;
  }

  .link{
    font-weight: 100;
    display: block;
    
    font-family: sans-serif;
    height: 4rem;
    color: #fff;
    
  }
  .BoxIndexSecond {
    overflow: hidden;
    cursor:text;
    size: 12px;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    font-size: small;
    color: #fff;
  }
  .ReadMore{
   
    transition: all 100ms;
    cursor: pointer;
    display:flex ;
  }
  .ReadMore :first-child{
    padding-right: 0.3rem;
    text-decoration: none;
    color: #fff;
   margin-left: 5rem;
    font-size: small;
  }
  .ReadMore :last-child{
    display: none;
  }
  .ReadMore:hover :last-child{
    display:inline;
  
  }

  




